<%= javascript_include_tag "//www.google.com/jsapi" %>
<%= javascript_include_tag "application", "chartkick" %>
<%= yield :charts_js %>

<div class="row">
  <div class="col-md-8">
    <h1><%= @registered_application.name %></h1>
    <h4><%= link_to @registered_application.url, @registered_application.url, target: "_blank" %></h4>
  </div>
  <div class="col-md-4">
    <%= link_to "Unregister Application", @registered_application, method: :delete, data: { confirm: "Are you sure you want to unregister this application? This process is unreversible!" }, class: 'btn btn-danger' %>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <th>Event Name</th>
    <th>Event Count</th>
  </thead>
  <tbody>
    <% @events.each do |name, event| %>
    <tr>
      <td><%= name %></td>
      <td><%= event.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= pie_chart @registered_application.events.group(:name).count %>





